@import "tailwindcss";


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow-pink {
  box-shadow: 0 2px 6px rgba(254, 31, 106, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.shadow-pink:hover {
  box-shadow: 0 8px 20px rgba(254, 31, 106, 0.5);
  transform: scale(1.03);
}

